@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h1>License repair by a new engineer</h1>

@using (Html.BeginForm())
{
  <p>Select an engineer to license</p>
  @Html.HiddenFor(model => model.MachineId)
  @Html.DropDownList("EngineerId");
  <input type="submit" class="btn btn-default" />
}